<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Nature roar</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <style media="screen">
      .position {
        margin-left: 50%;
        transform: translate(-50%, 0);
      }
      .padding_class {
        padding: 10px;
      }

      @media only screen and (max-width: 600px) {
        .navbar .navbar-brand img {
          width: 80px !important;
        }
      }
    </style>
  </head>

  <body>
    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="Brand" src="/static/logo.png" />
          </a>
        </div>
      </div>
    </nav> -->
    <!-- login -->
    <section class="login">
      <div class="container mt-5 mb-5">
        <% if(msg.length) { %> <% for(i=0 ;i<msg.length;i++){%>
          <h3 style="color: #17b978;" class="text-center"><%=msg[i]%></h3>
          <br />
          <% }%> <% } %> <% if(err.length) { %> <% for(i=0 ;i<err.length;i++){%>
            <h3 style="color: #ff304f;" class="text-center"><%=err[i]%></h3>
            <br />
            <% } %> <% } %>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 text-center position">
                <form action="/login" method="POST">
                  <label class="padding_class">User Mail Address</label>
                  <input
                    type="text"
                    name="mail"
                    class="form-control"
                    placeholder="Email"
                    required
                  />
                  <label class="padding_class">Password</label>
                  <input
                    type="password"
                    name="pass"
                    class="form-control"
                    placeholder="Password"
                    required
                  />
                  <div class="padding_class">
                    <input
                      type="submit"
                      value="Login"
                      class="btn btn-success btn-lg"
                    />
                    <a href="/createaccount">
                      <input
                        type="button"
                        value="sign up"
                        class="btn btn-primary btn-lg"
                      />
                    </a>
                  </div>
                </form>
                <div class="container login-container">
                  <div class="card" style="margin-top: 100px;">
                    <div class="card-content">
                      <div class="section" style="text-align: center;">
                        <a href="/google" class="btn red darken-1">
                          <i class="fab fa-google left"></i> Log In With Google
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </err.length;i++){%></msg.length;i++){%
        >
      </div>
    </section>
  </body>
</html>
